.i-location{
    width: 20px;
    height: 20px;
    background-image: url(./svg/loacation.svg);
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
}

.i-search{
    width: 25px;
    height: 25px;
    background-image: url(./svg/search.svg);
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
}
.i-plus{
    width: 15px;
    height: 15px;
    background-image: url(./svg/plus.svg);
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
}

.i-jual{
    width: 104px;
    height: 48px;
    background-image: url(./svg/jualBtn.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.i-love{
    width: 23px;
    height: 23px;
    background-image: url(./svg/love-line.svg);
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
}

.i-share{
    width: 20px;
    height: 20px;
    background-image: url(./svg/share.svg);
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
}

.i-arrow-right{
    width: 20px;
    height: 20px;
    background-image: url(./svg/arrow-right.svg);
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
}
.i-telephone{
    width: 20px;
    height: 20px;
    background-image: url(./svg/telephone.svg);
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
}

.i-x{
    width: 20px;
    height: 20px;
    background-image: url(./svg/x.svg);
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
}
.i-menu{
    width: 20px;
    height: 20px;
    background-image: url(./svg/menu.svg);
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
}

.i-camera{
    width: 20px;
    height: 20px;
    background-image: url(./svg/camera.svg);
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
}
.i-camera-black{
    width: 20px;
    height: 20px;
    background-image: url(./svg/camera-black.svg);
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
}
.i-logout{
    width: 20px;
    height: 20px;
    background-image: url(./svg/logout.svg);
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
}